{% extends 'rv60app/base.html'%}

{% load static  %}

{% block content %}

<h1>Diccionario</h1>
<table class="table table-striped">
  <tr>
    <td width="50%">
      <form action="">
          <input type="text" name="busca_palabra">
          <button type="submit" class="btn btn-success">
            Buscar Palabra
          </button>
      </form>
    </td>
    <td colspan="2" align="right">
      {% if page_obj.has_previous %}
        <a href="?page=1{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Primera&nbsp;&nbsp;</a>
        <a href="?page={{ page_obj.previous_page_number }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Previa&nbsp;&nbsp;</a>
      {% endif %}
  
      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>
  
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Próxima&nbsp;&nbsp;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Ultima&nbsp;&nbsp;</a>
      {% endif %}
    </td>
  </tr>
</table>
<table class="table table-striped">
    
          {% for diccionario in page_obj %}
          <tr> 
            <td>{{ diccionario.palabra }} </td>
            <td>{{ diccionario.definicion }}</td>
          </tr>
          {% endfor %}
</table> 
<table class="table table-striped">
  <tr>
    <td colspan="2" align="right">
      {% if page_obj.has_previous %}
        <a href="?page=1{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Primera&nbsp;&nbsp;</a>
        <a href="?page={{ page_obj.previous_page_number }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Previa&nbsp;&nbsp;</a>
      {% endif %}
  
      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>
  
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Próxima&nbsp;&nbsp;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if busca_palabra %}&busca_palabra={{ busca_palabra }}{% endif %}">&nbsp;&nbsp;Ultima&nbsp;&nbsp;</a>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock content %}

