{% extends "rv60app/base.html" %}

{% load static  %}

{% block content %}

<div class="content">
    <center>
    <br>
    <img src="{% static 'images/Jesus.jpg' %}" alt="" width="380">
    <br>
    <h1>Sustitución&nbsp;Sacrificio</h1>
    <h1>Expiación&nbsp;Propiciación</h1>
    <h1>Reconciliación&nbsp;Redención</h1>
    <h1>Victoria !!!</h1>
    <a href="https://luzyvida.com/menu/"><img src="{% static 'images/biblia1.jpg' %}" alt="" width="380"></a>
    
    </center>    
</div>

{% endblock content %}