{% extends 'rv60app/base.html'%}

{% load static  %}
{% block content %} 

<h1>Timeline</h1>
<form action="">
    <input type="text" name="busca_timeline">
    <button type="submit" class="btn btn-success">
        Buscar Evento
    </button>
</form>
<br>
<table class="table table-striped">
    <tr>
    <th>Evento</th>
    <th>Descripcion</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Duración</th>
    </tr> 
  
  
    {% for x in page_obj %}
    <tr>
    <td>
        {{x.evento}}
    {% comment %} <a href="{% url "timeline_detail"  x.id%}">{{x.evento}}</a> {% endcomment %}
    </td>
    <td>
        {{x.texto}} 
    </td>
    <td>
        {{x.desde}} 
    </td>
    <td>
        {{x.hasta}} 
    </td>  
    <td>
    
       {{x.d}}
      
    </td>   
    </tr>
    {% endfor%}
    <tr><td colspan="5">
        <div>
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1{% if busca_timeline %}&busca_timeline={{ busca_timeline }}{% endif %}">&nbsp;&nbsp;Primera&nbsp;&nbsp;</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if busca_timeline %}&busca_timeline={{ busca_timeline }}{% endif %}">&nbsp;&nbsp;Previa&nbsp;&nbsp;</a>
              {% endif %}
          
              <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
          
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if busca_timeline %}&busca_timeline={{ busca_timeline }}{% endif %}">&nbsp;&nbsp;Próxima&nbsp;&nbsp;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if busca_timeline %}&busca_timeline={{ busca_timeline }}{% endif %}">&nbsp;&nbsp;Ultima&nbsp;&nbsp;</a>
              {% endif %}
            </span>
          </div>  
    </td></tr>    
</table>
{% endblock content %}

