{% extends "rv60app/base.html" %}

{% block content %}
<!-- Book Selection -->
{% comment %} <h4>Select a Book</h4> {% endcomment %}
<table>
<tr>
<td>        
<form method="get">
    <select name="book_select" onchange="this.form.submit()"  class="form-select">
        <option value="">-- Seleccione un Libro --</option>
        {% for book in books %}
        <option value="{{ book.id }}" {% if selected_book and book.id == selected_book.id %}selected{% endif %}>
            {{ book.libro_es }}
        </option>
        {% endfor %}
    </select>
</form>
</td>
<td>
<!-- Chapter Selection -->
{% if chapters %}
{% comment %} <h4>Chapters in {{ selected_book.libro_es }}</h4> {% endcomment %}
<form method="get">
    <input type="hidden" name="book_select" value="{{ selected_book.id }}">
    <select name="chapter_select" onchange="this.form.submit()"  class="form-select">
        <option value="">-- Seleccione un Capitulo --</option>
        {% for chapter in chapters %}
        <option value="{{ chapter.id }}" {% if selected_chapter and chapter.id == selected_chapter.id %}selected{% endif %}>
            Capitulo {{ chapter.caps_de_libros }}
        </option>
        {% endfor %}
    </select>
</form>
{% endif %}
</td>
</tr>  
<!-- Verses Display -->
{% if verses %}
<tr>
    <td colspan=2>
{% comment %} <h3>Verses in Chapter {{ selected_chapter.caps_de_libros }}</h3> {% endcomment %}
<form method="post">
    {% csrf_token %}
    <button name="prev" value="prev" type="submit" class="btn btn-primary">Capitulo Anterior</button>
    <button name="next" value="next" type="submit" class="btn btn-danger">Pr&oacute;ximo Capitulo</button>
</form>
</td>
</tr>

 
    {% for verse in verses %}
    <tr>
        <td colspan=2> 
    {% if forloop.counter0|divisibleby:2 %}
    <div class=" py-1 px-1 rounded" style="background:DimGray; color:white;">
    {% else %} 
    <div class=" py-1 px-1 rounded" style="background:White; color:black;">
    {% endif %} 
    <p><strong>{{ verse.numero }}:</strong> {{ verse.contenido }}</p>
        </td>
    </tr>
    {% endfor %}

{% endif %}


<tr>
    <td colspan=2>
{% comment %} <h3>Verses in Chapter {{ selected_chapter.caps_de_libros }}</h3> {% endcomment %}
<form method="post">
    {% csrf_token %}
    <button name="prev" value="prev" type="submit" class="btn btn-primary">Capitulo Anterior</button>
    <button name="next" value="next" type="submit" class="btn btn-danger">Pr&oacute;ximo Capitulo</button>
</form>
</td>
</tr>

</table>

{% endblock content %}