{% extends "rv60app/base.html" %}

{% block content %}
<!-- Book Selection -->
{% comment %} <h4>Select a Book</h4> {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col">        
            <form method="get">
                <select name="book_select" onchange="this.form.submit()"  class="form-select">
                <option value="">-- Seleccione un Libro --</option>
                {% for book in books %}
                    <option value="{{ book.id }}" {% if selected_book and book.id == selected_book.id %}selected{% endif %}>
                        {{ book.libro_es }}
                    </option>
                {% endfor %}
                </select>
            </form>
        </div>
        <div class="col">
            <!-- Chapter Selection -->
            {% if chapters %}
            {% comment %} <h4>Chapters in {{ selected_book.libro_es }}</h4> {% endcomment %}
            <form method="get">
                <input type="hidden" name="book_select" value="{{ selected_book.id }}">
                <select name="chapter_select" onchange="this.form.submit()"  class="form-select">
                <option value="">-- Seleccione un Capitulo --</option>
                {% for chapter in chapters %}
                    <option value="{{ chapter.id }}" {% if selected_chapter and chapter.id == selected_chapter.id %}selected{% endif %}>
                    Capitulo {{ chapter.caps_de_libros }}
                    </option>
                {% endfor %}
                </select>
            </form>
            {% endif %}
        </div>
    </div>
    <table>    
    <!-- Verses Display -->
    {% if verses %}
    <tr>
        <td>
            {% comment %} <h3>Verses in Chapter {{ selected_chapter.caps_de_libros }}</h3> {% endcomment %}
            <form method="post">
            {% csrf_token %}
            <button name="prev" value="prev" type="submit" class="btn btn-primary">Capitulo Anterior</button>
        
            <button name="next" value="next" type="submit" class="btn btn-danger">Pr&oacute;ximo Capitulo</button>
        </td>    
            <!-- Button trigger modal -->
        <td align="right">     
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Refinar búsqueda
            </button>
        </td>
            </form>
    </tr>  
</table>
<table>
    {% for verse in verses %}
        {% for x in holly %}
        {% if verse.id == x.verso_start %}       
        <tr>
            <td colspan="2">
                <center><strong><h4 style="color:DodgerBlue;">{{ x.titulo }}</h4></strong></center> 
            </td>
        </tr>        
        {% endif %}  
        {% endfor %}            
        <tr>
            {% if forloop.counter0|divisibleby:2 %}
            <td valign="top" style="color:red;"><b> {{ verse.numero }}</b></td> 
            <td>&nbsp;<b>{{ verse.contenido }}</b></td>
            {% else %} 
            <td valign="top" style="color:red;"> <b>{{ verse.numero }}</b> </td> 
            <td>&nbsp;<b>{{ verse.contenido }}</b></td>
            {% endif %} 
        </tr>    
       
    
    {% endfor %}
    {% endif %}


    <tr>
        <td colspan="2">
            {% comment %} <h3>Verses in Chapter {{ selected_chapter.caps_de_libros }}</h3> {% endcomment %}
            <form method="post">
            {% csrf_token %}
            <button name="prev" value="prev" type="submit" class="btn btn-primary">Capitulo Anterior</button>
            <button name="next" value="next" type="submit" class="btn btn-danger">Pr&oacute;ximo Capitulo</button>
            </form>
        </td>
    </tr>    
    </table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar palabra</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "search/search.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Custom CSS -->
<style>
    .custom-modal-width {
        max-width: 60%;
    }
</style>


{% endblock content %}